.navbar-links {  
    display: flex;
    background-color: #333;
}

.navbar a {  
   color: white;  
   padding: 14px 20px;
   text-decoration: none;  
}

.navbar li :hover{
    background-color: white;
    color: #333;
}

.navbar li {
    display: flex;
    font-weight: 550;
    font-size: 1.2em;
} 