.navbar-links {  
    display: flex;
    align-items: center;
    background-color: #333;
    flex-direction: row;
}

.navbar a {  
   color: white;  
   padding: 14px 20px;  
   text-decoration: none;  
   text-align: center;
}

.navbar li :hover{
    background-color: white;
    color: #333;
}

.navbar li {
    display: flex;
} 