button {
  width: 140px;
  height: 40px;
  border: 3px solid #333;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1em;
  font-weight: 550;
}

button:hover {
  background: #333;
  color: white;
  font-size: 1.1em;
}
